node_modules/
.env
.env*
.version
.gitrevision
pub_mkdocs/
DO
out/
mochawesome-report/
coverage/
xunit.xml
bom.json
testlink.xml
junit-custom.xml
.nyc_output/
*.deb
**/__pycache__/
cov-int/

client/**/*.so*
client/**/*pico
dump.rdb
