node_modules/
.env
.env*
.version
.gitrevision
pub_mkdocs/
DO
out/
mochawesome-report/
coverage/
xunit.xml
testlink.xml
junit-custom.xml
.nyc_output/
*.deb
**/__pycache__/

client/**/*.so*
client/**/*pico
