Package: bintra
Version: 1.0.2
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Kai KRETSCHMANN <kai@kretschmann.consulting>
Homepage: https://bintra.directory
Depends: curl, jq, bash, binutils, xz-utils
Description: Binary Transparency check on package install
